# Hurricane Katrina  
## Analytics Project I - Project 1 - Hurricane Katrina

In [1]:
import pandas as pd
import numpy as np

## Dataset Creation

In [2]:
import tropycal.tracks as tracks
import datetime as dt

In [3]:
basin = tracks.TrackDataset(basin='north_atlantic',source='hurdat',include_btk=False)

--> Starting to read in HURDAT2 data
--> Completed reading in HURDAT2 data (1.36 seconds)

In [4]:
print(basin)

<tropycal.tracks.Dataset>
Dataset Summary:
    Basin:             north_atlantic
    Source:            hurdat
    Number of storms:  1952
    Maximum wind:      165 knots (Allen 1980)
    Minimum pressure:  882 hPa (Wilma 2005)
    Year range:        1851 — 2022

In [5]:
basin.to_dataframe()

,all_storms,named_storms,hurricanes,major_hurricanes,ace,start_time,end_time
season,,,,,,,
1851,6,6,3,1,36.1,1851-06-25 00:00:00,1851-10-19 18:00:00
1852,5,5,5,1,73.4,1852-08-19 00:00:00,1852-10-11 18:00:00
1853,8,8,4,2,76.4,1853-08-05 12:00:00,1853-10-22 06:00:00
1854,5,5,3,1,31.1,1854-06-25 00:00:00,1854-10-22 18:00:00
1855,5,5,4,1,18.2,1855-08-06 12:00:00,1855-09-17 06:00:00
...,...,...,...,...,...,...,...
2018,16,15,8,2,132.5,2018-05-25 12:00:00,2018-10-31 12:00:00
2019,20,18,6,3,132.3,2019-05-20 18:00:00,2019-11-24 18:00:00
2020,31,30,14,7,180.3,2020-05-16 18:00:00,2020-11-18 12:00:00
2021,21,21,7,4,145.3,2021-05-22 06:00:00,2021-11-07 06:00:00
2022,16,14,8,2,94.7,2022-06-05 00:00:00,2022-11-11 12:00:00

#### import hurricane cost dataset (hc_df):  
https://www.ncei.noaa.gov/access/billions/events/US/1980-2023?disasters[]=tropical-cyclone

In [6]:
hc_df = pd.read_csv('events-US-1980-2023.csv', skiprows=1)

In [7]:
hc_df.head()

,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths
0,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2165.4,13
1,Hurricane Alicia (August 1983),Tropical Cyclone,19830817,19830820,9150.0,21
2,Hurricane Elena (September 1985),Tropical Cyclone,19850830,19850903,3671.6,4
3,Hurricane Gloria (September 1985),Tropical Cyclone,19850926,19850928,2414.0,11
4,Hurricane Juan (October 1985),Tropical Cyclone,19851027,19851031,4205.8,63

In [8]:
import re

def parse_name_and_year_split(name_str):
    # Use regex to extract the name and year
    match = re.search(r'(Hurricane|Tropical Storm)?\s*([A-Za-z\s]+)\s\((\w+\s(\d{4}))\)', name_str)
    if match:
        return match.group(2).strip(), match.group(4)
    return None, None

In [9]:
hc_df['name'], hc_df['year'] = zip(*hc_df['Name'].apply(parse_name_and_year_split))

In [10]:
hc_df

,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths,name,year
0,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2165.4,13,Allen,1980
1,Hurricane Alicia (August 1983),Tropical Cyclone,19830817,19830820,9150.0,21,Alicia,1983
2,Hurricane Elena (September 1985),Tropical Cyclone,19850830,19850903,3671.6,4,Elena,1985
3,Hurricane Gloria (September 1985),Tropical Cyclone,19850926,19850928,2414.0,11,Gloria,1985
4,Hurricane Juan (October 1985),Tropical Cyclone,19851027,19851031,4205.8,63,Juan,1985
...,...,...,...,...,...,...,...,...
56,Hurricane Nicholas (September 2021),Tropical Cyclone,20210914,20210918,1137.9,0,Nicholas,2021
57,Hurricane Fiona (September 2022),Tropical Cyclone,20220917,20220918,2585.3,25,Fiona,2022
58,Hurricane Ian (September 2022),Tropical Cyclone,20220928,20220930,115154.0,152,Ian,2022
59,Hurricane Nicole (November 2022),Tropical Cyclone,20221110,20221111,1050.6,5,Nicole,2022
60,Hurricane Idalia (August 2023),Tropical Cyclone,20230829,20230831,TBD,5,Idalia,2023

In [11]:
hurricaneNames = list(hc_df['name'])
hurricaneNames

['Allen',
 'Alicia',
 'Elena',
 'Gloria',
 'Juan',
 'Allison',
 'Hugo',
 'Bob',
 'Andrew',
 'Iniki',
 'Alberto',
 'Erin',
 'Marilyn',
 'Opal',
 'Fran',
 'Frances',
 'Bonnie',
 'Georges',
 'Floyd',
 'Allison',
 'Lili',
 'Isidore',
 'Isabel',
 'Charley',
 'Frances',
 'Ivan',
 'Jeanne',
 'Dennis',
 'Katrina',
 'Rita',
 'Wilma',
 'Dolly',
 'Gustav',
 'Ike',
 'Irene',
 'Lee',
 'Isaac',
 'Sandy',
 'Matthew',
 'Harvey',
 'Irma',
 'Maria',
 'Florence',
 'Michael',
 'Dorian',
 'Imelda',
 'Hanna',
 'Isaias',
 'Laura',
 'Sally',
 'Delta',
 'Zeta',
 'Eta',
 'Elsa',
 'Fred',
 'Ida',
 'Nicholas',
 'Fiona',
 'Ian',
 'Nicole',
 'Idalia']

##### there are multiple hurricanes with repeating names:

In [12]:
for name in hurricaneNames:
    storm = basin.search_name(name)
    print(name, storm)

Allen [1980]
Alicia [1983]
Elena [1965, 1979, 1985]
Gloria [1976, 1979, 1985]
Juan [1985, 2003]
Allison [1989, 1995, 2001]
Hugo [1989]
Bob [1979, 1985, 1991]
Andrew [1986, 1992]
Iniki []
Alberto [1982, 1988, 1994, 2000, 2006, 2012, 2018]
Erin [1989, 1995, 2001, 2007, 2013, 2019]
Marilyn [1995]
Opal [1995]
Fran [1973, 1984, 1990, 1996]
Frances [1961, 1968, 1976, 1980, 1986, 1992, 1998, 2004]
Bonnie [1980, 1986, 1992, 1998, 2004, 2010, 2016, 2022]
Georges [1980, 1998]
Floyd [1981, 1987, 1993, 1999]
Allison [1989, 1995, 2001]
Lili [1984, 1990, 1996, 2002]
Isidore [1984, 1990, 1996, 2002]
Isabel [1985, 2003]
Charley [1980, 1986, 1992, 1998, 2004]
Frances [1961, 1968, 1976, 1980, 1986, 1992, 1998, 2004]
Ivan [1980, 1998, 2004]
Jeanne [1980, 1998, 2004]
Dennis [1981, 1987, 1993, 1999, 2005]
Katrina [1981, 1999, 2005]
Rita [2005]
Wilma [2005]
Dolly [1953, 1954, 1968, 1974, 1996, 2002, 2008, 2014, 2020]
Gustav [1984, 1990, 1996, 2002, 2008]
Ike [2008]
Irene [1959, 1971, 1981, 1999, 2005, 2011]
Lee [2005, 2011, 2017]
Isaac [1988, 2000, 2006, 2012, 2018]
Sandy [2012]
Matthew [2004, 2010, 2016]
Harvey [1981, 1993, 1999, 2005, 2011, 2017]
Irma [1978, 2017]
Maria [2005, 2011, 2017]
Florence [1953, 1954, 1960, 1964, 1988, 1994, 2000, 2006, 2012, 2018]
Michael [2000, 2012, 2018]
Dorian [2013, 2019]
Imelda [2019]
Hanna [2002, 2008, 2014, 2020]
Isaias [2020]
Laura [1971, 2008, 2020]
Sally [2020]
Delta [1972, 2005, 2020]
Zeta [2005, 2020]
Eta [2020]
Elsa [2021]
Fred [2009, 2015, 2021]
Ida [2009, 2015, 2021]
Nicholas [2003, 2021]
Fiona [2010, 2016, 2022]
Ian [2016, 2022]
Nicole [1998, 2004, 2010, 2016, 2022]
Idalia []

...but we are interested only in hurricanes we have cost data for:

In [13]:
hNamesDates = hc_df[['name', 'year']]
hNamesDates.head()
hNamesDates

        name  year
0      Allen  1980
1     Alicia  1983
2      Elena  1985
3     Gloria  1985
4       Juan  1985
..       ...   ...
56  Nicholas  2021
57     Fiona  2022
58       Ian  2022
59    Nicole  2022
60    Idalia  2023

[61 rows x 2 columns]

In [14]:
hNamesDates['year']=hNamesDates['year'].astype(int)
hNamesDates['name']=hNamesDates['name'].astype(str)
hNamesDates.dtypes

C:\Users\PC\AppData\Local\Temp\ipykernel_28980\4068852887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hNamesDates['year']=hNamesDates['year'].astype(int)
C:\Users\PC\AppData\Local\Temp\ipykernel_28980\4068852887.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hNamesDates['name']=hNamesDates['name'].astype(str)

name    object
year     int32
dtype: object

In [15]:
storm = basin.get_storm(('Michael', 2018))
storm.to_dict()

{'id': 'AL142018',
 'operational_id': 'AL142018',
 'name': 'MICHAEL',
 'year': 2018,
 'season': 2018,
 'basin': 'north_atlantic',
 'source_info': 'NHC Hurricane Database',
 'source': 'hurdat',
 'time': [datetime.datetime(2018, 10, 6, 18, 0),
  datetime.datetime(2018, 10, 7, 0, 0),
  datetime.datetime(2018, 10, 7, 6, 0),
  datetime.datetime(2018, 10, 7, 12, 0),
  datetime.datetime(2018, 10, 7, 18, 0),
  datetime.datetime(2018, 10, 8, 0, 0),
  datetime.datetime(2018, 10, 8, 6, 0),
  datetime.datetime(2018, 10, 8, 12, 0),
  datetime.datetime(2018, 10, 8, 18, 0),
  datetime.datetime(2018, 10, 9, 0, 0),
  datetime.datetime(2018, 10, 9, 6, 0),
  datetime.datetime(2018, 10, 9, 12, 0),
  datetime.datetime(2018, 10, 9, 18, 0),
  datetime.datetime(2018, 10, 10, 0, 0),
  datetime.datetime(2018, 10, 10, 6, 0),
  datetime.datetime(2018, 10, 10, 12, 0),
  datetime.datetime(2018, 10, 10, 17, 30),
  datetime.datetime(2018, 10, 10, 18, 0),
  datetime.datetime(2018, 10, 11, 0, 0),
  datetime.datetime(2018, 10, 11, 6, 0),
  datetime.datetime(2018, 10, 11, 12, 0),
  datetime.datetime(2018, 10, 11, 18, 0),
  datetime.datetime(2018, 10, 12, 0, 0),
  datetime.datetime(2018, 10, 12, 6, 0),
  datetime.datetime(2018, 10, 12, 12, 0),
  datetime.datetime(2018, 10, 12, 18, 0),
  datetime.datetime(2018, 10, 13, 0, 0),
  datetime.datetime(2018, 10, 13, 6, 0),
  datetime.datetime(2018, 10, 13, 12, 0),
  datetime.datetime(2018, 10, 13, 18, 0),
  datetime.datetime(2018, 10, 14, 0, 0),
  datetime.datetime(2018, 10, 14, 6, 0),
  datetime.datetime(2018, 10, 14, 12, 0),
  datetime.datetime(2018, 10, 14, 18, 0),
  datetime.datetime(2018, 10, 15, 0, 0),
  datetime.datetime(2018, 10, 15, 6, 0),
  datetime.datetime(2018, 10, 15, 12, 0),
  datetime.datetime(2018, 10, 15, 18, 0)],
 'extra_obs': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 'special': ['',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 'type': ['LO',
  'LO',
  'TD',
  'TS',
  'TS',
  'TS',
  'TS',
  'HU',
  'HU',
  'HU',
  'HU',
  'HU',
  'HU',
  'HU',
  'HU',
  'HU',
  'HU',
  'HU',
  'HU',
  'TS',
  'TS',
  'TS',
  'EX',
  'EX',
  'EX',
  'EX',
  'EX',
  'EX',
  'EX',
  'EX',
  'EX',
  'EX',
  'EX',
  'EX',
  'EX',
  'EX',
  'EX',
  'EX'],
 'lat': [17.8,
  18.1,
  18.4,
  18.8,
  19.1,
  19.7,
  20.2,
  20.9,
  21.7,
  22.7,
  23.7,
  24.6,
  25.6,
  26.6,
  27.7,
  29.0,
  30.0,
  30.2,
  31.5,
  32.8,
  34.1,
  35.6,
  36.5,
  37.3,
  39.1,
  41.1,
  43.1,
  44.8,
  46.4,
  47.6,
  48.4,
  48.8,
  48.6,
  47.5,
  45.9,
  44.4,
  42.8,
  41.2],
 'lon': [-86.6,
  -86.9,
  -86.8,
  -86.4,
  -85.7,
  -85.5,
  -85.4,
  -85.1,
  -85.1,
  -85.2,
  -85.8,
  -86.2,
  -86.4,
  -86.5,
  -86.6,
  -86.3,
  -85.5,
  -85.4,
  -84.5,
  -83.2,
  -81.7,
  -80.0,
  -77.7,
  -75.0,
  -70.6,
  -66.1,
  -61.5,
  -55.7,
  -48.2,
  -40.7,
  -33.1,
  -26.1,
  -20.7,
  -16.4,
  -13.5,
  -11.4,
  -10.3,
  -10.0],
 'vmax': [25,
  25,
  30,
  35,
  45,
  50,
  60,
  65,
  75,
  85,
  85,
  90,
  100,
  110,
  120,
  125,
  140,
  135,
  80,
  50,
  45,
  45,
  50,
  60,
  60,
  60,
  65,
  65,
  65,
  65,
  65,
  65,
  60,
  55,
  55,
  50,
  35,
  35],
 'mslp': [1006,
  1004,
  1004,
  1003,
  999,
  996,
  984,
  982,
  977,
  971,
  973,
  968,
  961,
  952,
  945,
  934,
  919,
  920,
  957,
  979,
  987,
  991,
  988,
  983,
  980,
  977,
  975,
  975,
  975,
  975,
  975,
  975,
  975,
  978,
  982,
  989,
  996,
  1001],
 'wmo_basin': ['north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic',
  'north_atlantic'],
 'ace': 12.505}

In [16]:
# import tropycal.tracks as tracks

# Create a TrackDataset object for the North Atlantic basin
# basin = tracks.TrackDataset(basin='north_atlantic')

# Create a dictionary to store the storm data
stormsData = {}
for index, row in hNamesDates.iterrows():
    try:
         #print(row['name'], row['year'])
        # Create a dictionary to store the storm data
        stormsData[row['name']] = {}
        # Load the storm data
        stormsData[row['name']] = basin.get_storm((row['name'],row['year']))
    except Exception as e:
        print(e)
        continue
stormsData

Storm not found
Storm not found

{'Allen': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      165 knots
     Minimum Pressure:  899 hPa
     Start Time:        0000 UTC 01 August 1980
     End Time:          1800 UTC 11 August 1980

 Variables:
     time        (datetime) [1980-07-31 12:00:00 .... 1980-08-11 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [DB .... TD]
     lat         (float64) [11.0 .... 28.9]
     lon         (float64) [-30.0 .... -102.9]
     vmax        (int32) [25 .... 30]
     mslp        (float64) [nan .... 1008.0]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL041980
     operational_id:  AL041980
     name:            ALLEN
     year:            1980
     season:          1980
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             52.3
     realtime:        False
     invest:          False
     subset:          False,
 'Alicia': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      100 knots
     Minimum Pressure:  962 hPa
     Start Time:        1200 UTC 15 August 1983
     End Time:          0000 UTC 20 August 1983

 Variables:
     time        (datetime) [1983-08-15 12:00:00 .... 1983-08-21 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [27.3 .... 41.2]
     lon         (float64) [-90.5 .... -97.0]
     vmax        (int32) [30 .... 20]
     mslp        (int32) [1009 .... 1010]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL031983
     operational_id:  AL031983
     name:            ALICIA
     year:            1983
     season:          1983
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             6.4
     realtime:        False
     invest:          False
     subset:          False,
 'Elena': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      110 knots
     Minimum Pressure:  953 hPa
     Start Time:        0000 UTC 28 August 1985
     End Time:          1800 UTC 04 September 1985

 Variables:
     time        (datetime) [1985-08-28 00:00:00 .... 1985-09-04 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [19.8 .... 38.8]
     lon         (float64) [-74.0 .... -91.4]
     vmax        (int32) [30 .... 20]
     mslp        (int32) [1012 .... 1010]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL051985
     operational_id:  AL051985
     name:            ELENA
     year:            1985
     season:          1985
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             15.8
     realtime:        False
     invest:          False
     subset:          False,
 'Gloria': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      125 knots
     Minimum Pressure:  920 hPa
     Start Time:        1200 UTC 16 September 1985
     End Time:          1800 UTC 27 September 1985

 Variables:
     time        (datetime) [1985-09-16 12:00:00 .... 1985-10-02 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [13.3 .... 56.6]
     lon         (float64) [-23.6 .... -29.0]
     vmax        (int32) [25 .... 50]
     mslp        (int32) [1009 .... 960]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL091985
     operational_id:  AL091985
     name:            GLORIA
     year:            1985
     season:          1985
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             21.2
     realtime:        False
     invest:          False
     subset:          False,
 'Juan': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      75 knots
     Minimum Pressure:  971 hPa
     Start Time:        0000 UTC 26 October 1985
     End Time:          0600 UTC 01 November 1985

 Variables:
     time        (datetime) [1985-10-26 00:00:00 .... 1985-11-01 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [24.5 .... 36.8]
     lon         (float64) [-90.5 .... -87.1]
     vmax        (int32) [30 .... 25]
     mslp        (int32) [1005 .... 992]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL121985
     operational_id:  AL121985
     name:            JUAN
     year:            1985
     season:          1985
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             8.1
     realtime:        False
     invest:          False
     subset:          False,
 'Allison': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      50 knots
     Minimum Pressure:  1000 hPa
     Start Time:        1200 UTC 05 June 2001
     End Time:          1800 UTC 17 June 2001

 Variables:
     time        (datetime) [2001-06-05 12:00:00 .... 2001-06-19 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TS .... EX]
     lat         (float64) [27.5 .... 43.5]
     lon         (float64) [-95.0 .... -61.0]
     vmax        (int32) [40 .... 20]
     mslp        (int32) [1007 .... 1012]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL012001
     operational_id:  AL012001
     name:            ALLISON
     year:            2001
     season:          2001
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             1.3
     realtime:        False
     invest:          False
     subset:          False,
 'Hugo': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      140 knots
     Minimum Pressure:  918 hPa
     Start Time:        1200 UTC 10 September 1989
     End Time:          1800 UTC 22 September 1989

 Variables:
     time        (datetime) [1989-09-10 12:00:00 .... 1989-09-25 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [13.2 .... 58.0]
     lon         (float64) [-20.0 .... -46.0]
     vmax        (int32) [25 .... 40]
     mslp        (int32) [1010 .... 974]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL111989
     operational_id:  AL111989
     name:            HUGO
     year:            1989
     season:          1989
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             42.7
     realtime:        False
     invest:          False
     subset:          False,
 'Bob': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      100 knots
     Minimum Pressure:  950 hPa
     Start Time:        0000 UTC 16 August 1991
     End Time:          1200 UTC 20 August 1991

 Variables:
     time        (datetime) [1991-08-16 00:00:00 .... 1991-08-29 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [25.6 .... 40.0]
     lon         (float64) [-74.3 .... -9.9]
     vmax        (int32) [25 .... 10]
     mslp        (int32) [1014 .... 1015]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL031991
     operational_id:  AL031991
     name:            BOB
     year:            1991
     season:          1991
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             8.0
     realtime:        False
     invest:          False
     subset:          False,
 'Andrew': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      150 knots
     Minimum Pressure:  922 hPa
     Start Time:        1800 UTC 16 August 1992
     End Time:          0600 UTC 28 August 1992

 Variables:
     time        (datetime) [1992-08-16 18:00:00 .... 1992-08-28 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [10.8 .... 35.4]
     lon         (float64) [-35.5 .... -84.0]
     vmax        (int32) [25 .... 20]
     mslp        (int32) [1010 .... 1000]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL041992
     operational_id:  AL041992
     name:            ANDREW
     year:            1992
     season:          1992
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             28.4
     realtime:        False
     invest:          False
     subset:          False,
 'Iniki': {},
 'Alberto': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      55 knots
     Minimum Pressure:  993 hPa
     Start Time:        0600 UTC 30 June 1994
     End Time:          1800 UTC 07 July 1994

 Variables:
     time        (datetime) [1994-06-30 06:00:00 .... 1994-07-07 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [21.7 .... 33.0]
     lon         (float64) [-83.6 .... -87.0]
     vmax        (int32) [25 .... 10]
     mslp        (int32) [1011 .... 1013]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL011994
     operational_id:  AL011994
     name:            ALBERTO
     year:            1994
     season:          1994
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             1.6
     realtime:        False
     invest:          False
     subset:          False,
 'Erin': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      85 knots
     Minimum Pressure:  973 hPa
     Start Time:        0000 UTC 31 July 1995
     End Time:          1200 UTC 06 August 1995

 Variables:
     time        (datetime) [1995-07-31 00:00:00 .... 1995-08-06 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TS .... TD]
     lat         (float64) [22.3 .... 38.8]
     lon         (float64) [-73.2 .... -82.0]
     vmax        (int32) [45 .... 20]
     mslp        (int32) [1004 .... 1008]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL051995
     operational_id:  AL051995
     name:            ERIN
     year:            1995
     season:          1995
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             7.3
     realtime:        False
     invest:          False
     subset:          False,
 'Marilyn': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      100 knots
     Minimum Pressure:  949 hPa
     Start Time:        1800 UTC 12 September 1995
     End Time:          0000 UTC 22 September 1995

 Variables:
     time        (datetime) [1995-09-12 18:00:00 .... 1995-10-01 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [11.7 .... 35.3]
     lon         (float64) [-50.9 .... -51.9]
     vmax        (int32) [30 .... 20]
     mslp        (int32) [1006 .... 1016]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL151995
     operational_id:  AL151995
     name:            MARILYN
     year:            1995
     season:          1995
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             21.6
     realtime:        False
     invest:          False
     subset:          False,
 'Opal': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      130 knots
     Minimum Pressure:  916 hPa
     Start Time:        1800 UTC 27 September 1995
     End Time:          1200 UTC 05 October 1995

 Variables:
     time        (datetime) [1995-09-27 18:00:00 .... 1995-10-06 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [19.1 .... 44.5]
     lon         (float64) [-87.3 .... -76.5]
     vmax        (int32) [25 .... 30]
     mslp        (int32) [1004 .... 1002]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL171995
     operational_id:  AL171995
     name:            OPAL
     year:            1995
     season:          1995
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             11.1
     realtime:        False
     invest:          False
     subset:          False,
 'Fran': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      105 knots
     Minimum Pressure:  946 hPa
     Start Time:        1200 UTC 23 August 1996
     End Time:          1800 UTC 08 September 1996

 Variables:
     time        (datetime) [1996-08-23 12:00:00 .... 1996-09-10 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [14.0 .... 46.7]
     lon         (float64) [-21.0 .... -70.0]
     vmax        (int32) [25 .... 15]
     mslp        (int32) [1012 .... 1010]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL061996
     operational_id:  AL061996
     name:            FRAN
     year:            1996
     season:          1996
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             22.9
     realtime:        False
     invest:          False
     subset:          False,
 'Frances': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      125 knots
     Minimum Pressure:  935 hPa
     Start Time:        0000 UTC 25 August 2004
     End Time:          1800 UTC 08 September 2004

 Variables:
     time        (datetime) [2004-08-25 00:00:00 .... 2004-09-10 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [11.1 .... 47.2]
     lon         (float64) [-35.2 .... -64.2]
     vmax        (int32) [25 .... 20]
     mslp        (int32) [1009 .... 1005]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL062004
     operational_id:  AL062004
     name:            FRANCES
     year:            2004
     season:          2004
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             45.9
     realtime:        False
     invest:          False
     subset:          False,
 'Bonnie': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      100 knots
     Minimum Pressure:  954 hPa
     Start Time:        1200 UTC 19 August 1998
     End Time:          1200 UTC 30 August 1998

 Variables:
     time        (datetime) [1998-08-19 12:00:00 .... 1998-08-31 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [14.7 .... 43.0]
     lon         (float64) [-48.1 .... -41.0]
     vmax        (int32) [25 .... 40]
     mslp        (int32) [1009 .... 996]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL021998
     operational_id:  AL021998
     name:            BONNIE
     year:            1998
     season:          1998
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             24.8
     realtime:        False
     invest:          False
     subset:          False,
 'Georges': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      135 knots
     Minimum Pressure:  937 hPa
     Start Time:        1200 UTC 15 September 1998
     End Time:          0600 UTC 01 October 1998

 Variables:
     time        (datetime) [1998-09-15 12:00:00 .... 1998-10-01 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [9.7 .... 30.5]
     lon         (float64) [-25.1 .... -81.8]
     vmax        (int32) [30 .... 20]
     mslp        (int32) [1009 .... 1008]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL071998
     operational_id:  AL071998
     name:            GEORGES
     year:            1998
     season:          1998
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             39.4
     realtime:        False
     invest:          False
     subset:          False,
 'Floyd': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      135 knots
     Minimum Pressure:  921 hPa
     Start Time:        1800 UTC 07 September 1999
     End Time:          0600 UTC 17 September 1999

 Variables:
     time        (datetime) [1999-09-07 18:00:00 .... 1999-09-19 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [14.6 .... 49.5]
     lon         (float64) [-45.6 .... -48.0]
     vmax        (int32) [25 .... 40]
     mslp        (int32) [1008 .... 992]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL081999
     operational_id:  AL081999
     name:            FLOYD
     year:            1999
     season:          1999
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             29.4
     realtime:        False
     invest:          False
     subset:          False,
 'Lili': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      125 knots
     Minimum Pressure:  938 hPa
     Start Time:        1800 UTC 21 September 2002
     End Time:          1200 UTC 04 October 2002

 Variables:
     time        (datetime) [2002-09-21 18:00:00 .... 2002-10-04 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [10.2 .... 35.8]
     lon         (float64) [-44.6 .... -90.0]
     vmax        (int32) [25 .... 25]
     mslp        (int32) [1009 .... 997]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL132002
     operational_id:  AL132002
     name:            LILI
     year:            2002
     season:          2002
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             16.5
     realtime:        False
     invest:          False
     subset:          False,
 'Isidore': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      110 knots
     Minimum Pressure:  934 hPa
     Start Time:        1800 UTC 14 September 2002
     End Time:          1200 UTC 27 September 2002

 Variables:
     time        (datetime) [2002-09-14 18:00:00 .... 2002-09-27 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [10.0 .... 40.9]
     lon         (float64) [-60.5 .... -79.5]
     vmax        (int32) [25 .... 20]

In [17]:
stormsData['Allen'].to_dataframe()

,time,extra_obs,special,type,lat,lon,vmax,mslp,wmo_basin
0,1980-07-31 12:00:00,0,,DB,11.0,-30.0,25,NaN,north_atlantic
1,1980-07-31 18:00:00,0,,DB,10.9,-32.2,25,NaN,north_atlantic
2,1980-08-01 00:00:00,0,,TD,10.8,-34.3,30,1010.0,north_atlantic
3,1980-08-01 06:00:00,0,,TD,10.7,-36.4,30,1009.0,north_atlantic
4,1980-08-01 12:00:00,0,,TD,10.7,-38.6,30,1008.0,north_atlantic
5,1980-08-01 18:00:00,0,,TD,10.7,-40.7,30,1006.0,north_atlantic
6,1980-08-02 00:00:00,0,,TS,11.0,-42.8,35,1005.0,north_atlantic
7,1980-08-02 06:00:00,0,,TS,11.4,-44.8,45,1000.0,north_atlantic
8,1980-08-02 12:00:00,0,,TS,11.9,-46.9,55,995.0,north_atlantic
9,1980-08-02 18:00:00,0,,TS,12.3,-49.1,60,990.0,north_atlantic
10,1980-08-03 00:00:00,0,,HU,12.4,-51.4,65,985.0,north_atlantic
11,1980-08-03 06:00:00,0,,HU,12.6,-53.6,70,980.0,north_atlantic
12,1980-08-03 12:00:00,0,,HU,12.8,-55.6,80,975.0,north_atlantic
13,1980-08-03 18:00:00,0,,HU,12.9,-57.5,95,965.0,north_atlantic
14,1980-08-04 00:00:00,0,,HU,13.3,-59.1,110,950.0,north_atlantic
15,1980-08-04 06:00:00,0,,HU,13.6,-61.0,115,948.0,north_atlantic
16,1980-08-04 12:00:00,0,,HU,14.0,-63.0,125,945.0,north_atlantic
17,1980-08-04 18:00:00,0,,HU,14.4,-64.9,130,930.0,north_atlantic
18,1980-08-05 00:00:00,0,,HU,14.8,-66.7,140,911.0,north_atlantic
19,1980-08-05 06:00:00,0,,HU,15.4,-68.6,145,916.0,north_atlantic
20,1980-08-05 12:00:00,0,,HU,15.9,-70.5,155,932.0,north_atlantic
21,1980-08-05 18:00:00,0,,HU,16.5,-72.3,150,940.0,north_atlantic
22,1980-08-06 00:00:00,0,,HU,17.8,-73.8,140,945.0,north_atlantic
23,1980-08-06 06:00:00,0,,HU,18.3,-75.9,115,955.0,north_atlantic
24,1980-08-06 12:00:00,0,,HU,19.2,-78.0,115,955.0,north_atlantic
25,1980-08-06 18:00:00,0,,HU,20.0,-80.1,125,955.0,north_atlantic
26,1980-08-07 00:00:00,0,,HU,20.1,-81.9,135,945.0,north_atlantic
27,1980-08-07 06:00:00,0,,HU,20.4,-83.6,145,935.0,north_atlantic
28,1980-08-07 12:00:00,0,,HU,21.0,-84.8,155,910.0,north_atlantic
29,1980-08-07 18:00:00,0,,HU,21.8,-86.4,165,899.0,north_atlantic
30,1980-08-08 00:00:00,0,,HU,22.2,-87.9,155,920.0,north_atlantic
31,1980-08-08 06:00:00,0,,HU,22.8,-89.2,130,945.0,north_atlantic
32,1980-08-08 12:00:00,0,,HU,23.4,-90.5,115,960.0,north_atlantic
33,1980-08-08 18:00:00,0,,HU,23.9,-91.8,130,940.0,north_atlantic
34,1980-08-09 00:00:00,0,,HU,24.5,-93.0,145,912.0,north_atlantic
35,1980-08-09 06:00:00,0,,HU,25.0,-94.2,155,909.0,north_atlantic
36,1980-08-09 12:00:00,0,,HU,25.2,-95.4,140,916.0,north_atlantic
37,1980-08-09 18:00:00,0,,HU,25.4,-96.1,125,925.0,north_atlantic
38,1980-08-10 00:00:00,0,,HU,25.8,-96.8,110,935.0,north_atlantic
39,1980-08-10 06:00:00,0,,HU,26.1,-97.2,100,945.0,north_atlantic
40,1980-08-10 12:00:00,0,,HU,26.7,-98.1,85,960.0,north_atlantic
41,1980-08-10 18:00:00,0,,HU,27.3,-99.0,70,970.0,north_atlantic
42,1980-08-11 00:00:00,0,,TS,27.7,-99.8,60,990.0,north_atlantic
43,1980-08-11 06:00:00,0,,TS,28.0,-100.9,45,1000.0,north_atlantic
44,1980-08-11 12:00:00,0,,TD,28.5,-101.9,30,1005.0,north_atlantic
45,1980-08-11 18:00:00,0,,TD,28.9,-102.9,30,1008.0,north_atlantic

In [18]:
# Modified approach to handle potential non-storm objects in stormsData

dfs = []

for storm_name, storm_obj in stormsData.items():
    # Check if the object has a to_dataframe method
    if hasattr(storm_obj, 'to_dataframe'):
        df_storm = storm_obj.to_dataframe()
        df_storm['storm_name'] = storm_name
        dfs.append(df_storm)

# If we have any dataframes in the list, concatenate them
if dfs:
    master_df = pd.concat(dfs, ignore_index=True)
    # Display the first few rows of the resulting master DataFrame
    output = master_df.head()
else:
    output = "No valid storm objects found in stormsData."

output

,time,extra_obs,special,type,lat,lon,vmax,mslp,wmo_basin,storm_name
0,1980-07-31 12:00:00,0,,DB,11.0,-30.0,25,NaN,north_atlantic,Allen
1,1980-07-31 18:00:00,0,,DB,10.9,-32.2,25,NaN,north_atlantic,Allen
2,1980-08-01 00:00:00,0,,TD,10.8,-34.3,30,1010.0,north_atlantic,Allen
3,1980-08-01 06:00:00,0,,TD,10.7,-36.4,30,1009.0,north_atlantic,Allen
4,1980-08-01 12:00:00,0,,TD,10.7,-38.6,30,1008.0,north_atlantic,Allen

In [19]:
master_df['year']=master_df['time'].dt.year

In [23]:
master_df

,time,extra_obs,special,type,lat,lon,vmax,mslp,wmo_basin,storm_name,year
0,1980-07-31 12:00:00,0,,DB,11.0,-30.0,25,NaN,north_atlantic,Allen,1980
1,1980-07-31 18:00:00,0,,DB,10.9,-32.2,25,NaN,north_atlantic,Allen,1980
2,1980-08-01 00:00:00,0,,TD,10.8,-34.3,30,1010.0,north_atlantic,Allen,1980
3,1980-08-01 06:00:00,0,,TD,10.7,-36.4,30,1009.0,north_atlantic,Allen,1980
4,1980-08-01 12:00:00,0,,TD,10.7,-38.6,30,1008.0,north_atlantic,Allen,1980
...,...,...,...,...,...,...,...,...,...,...,...
2730,2022-11-10 19:00:00,1,L,TS,29.2,-83.0,40,989.0,north_atlantic,Nicole,2022
2731,2022-11-11 00:00:00,0,L,TS,30.1,-84.0,35,992.0,north_atlantic,Nicole,2022
2732,2022-11-11 06:00:00,0,,TD,31.2,-84.6,30,996.0,north_atlantic,Nicole,2022
2733,2022-11-11 12:00:00,0,,TD,33.2,-84.6,25,999.0,north_atlantic,Nicole,2022
2734,2022-11-11 18:00:00,0,,LO,35.4,-83.8,25,1000.0,north_atlantic,Nicole,2022

In [21]:
master_df.to_csv('Hurricane_dataset.csv')

In [25]:
master_df.dtypes

time          datetime64[ns]
extra_obs              int64
special               object
type                  object
lat                  float64
lon                  float64
vmax                   int64
mslp                 float64
wmo_basin             object
storm_name            object
year                   int32
dtype: object

In [26]:
hc_df.dtypes

Name                                             object
Disaster                                         object
Begin Date                                        int64
End Date                                          int64
Total CPI-Adjusted Cost (Millions of Dollars)    object
Deaths                                            int64
name                                             object
year                                             object
dtype: object

In [27]:
hc_df['year']=hc_df['year'].astype(int)

In [28]:
merged_df = pd.merge(master_df, hc_df, left_on=['storm_name', 'year'], right_on=['name', 'year'])

In [33]:
merged_df

,time,extra_obs,special,type,lat,lon,vmax,mslp,wmo_basin,storm_name,year,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths,name
0,1980-07-31 12:00:00,0,,DB,11.0,-30.0,25,NaN,north_atlantic,Allen,1980,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2165.4,13,Allen
1,1980-07-31 18:00:00,0,,DB,10.9,-32.2,25,NaN,north_atlantic,Allen,1980,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2165.4,13,Allen
2,1980-08-01 00:00:00,0,,TD,10.8,-34.3,30,1010.0,north_atlantic,Allen,1980,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2165.4,13,Allen
3,1980-08-01 06:00:00,0,,TD,10.7,-36.4,30,1009.0,north_atlantic,Allen,1980,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2165.4,13,Allen
4,1980-08-01 12:00:00,0,,TD,10.7,-38.6,30,1008.0,north_atlantic,Allen,1980,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2165.4,13,Allen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2730,2022-11-10 19:00:00,1,L,TS,29.2,-83.0,40,989.0,north_atlantic,Nicole,2022,Hurricane Nicole (November 2022),Tropical Cyclone,20221110,20221111,1050.6,5,Nicole
2731,2022-11-11 00:00:00,0,L,TS,30.1,-84.0,35,992.0,north_atlantic,Nicole,2022,Hurricane Nicole (November 2022),Tropical Cyclone,20221110,20221111,1050.6,5,Nicole
2732,2022-11-11 06:00:00,0,,TD,31.2,-84.6,30,996.0,north_atlantic,Nicole,2022,Hurricane Nicole (November 2022),Tropical Cyclone,20221110,20221111,1050.6,5,Nicole
2733,2022-11-11 12:00:00,0,,TD,33.2,-84.6,25,999.0,north_atlantic,Nicole,2022,Hurricane Nicole (November 2022),Tropical Cyclone,20221110,20221111,1050.6,5,Nicole
2734,2022-11-11 18:00:00,0,,LO,35.4,-83.8,25,1000.0,north_atlantic,Nicole,2022,Hurricane Nicole (November 2022),Tropical Cyclone,20221110,20221111,1050.6,5,Nicole

In [34]:
merged_df.dtypes

time                                             datetime64[ns]
extra_obs                                                 int64
special                                                  object
type                                                     object
lat                                                     float64
lon                                                     float64
vmax                                                      int64
mslp                                                    float64
wmo_basin                                                object
storm_name                                               object
year                                                      int32
Name                                                     object
Disaster                                                 object
Begin Date                                                int64
End Date                                                  int64
Total CPI-Adjusted Cost (Millions of Dollars)            object
Deaths                                                    int64
name                                                     object
dtype: object

In [39]:
merged_df[['Begin Date','End Date']]= merged_df[['Begin Date','End Date']].astype(str)
merged_df.dtypes

time                                             datetime64[ns]
extra_obs                                                 int64
special                                                  object
type                                                     object
lat                                                     float64
lon                                                     float64
vmax                                                      int64
mslp                                                    float64
wmo_basin                                                object
storm_name                                               object
year                                                      int32
Name                                                     object
Disaster                                                 object
Begin Date                                               object
End Date                                                 object
Total CPI-Adjusted Cost (Millions of Dollars)            object
Deaths                                                    int64
name                                                     object
dtype: object

In [44]:
from datetime import datetime

def conv_to_date(int_value):
    str_value = str(int_value)
    date = datetime.strptime(str_value, '%Y%m%d')
    return date.strftime('%Y-%m-%d')

merged_df[['Begin Date', 'End Date']] = merged_df[['Begin Date', 'End Date']].applymap(conv_to_date)

In [47]:
merged_df

,time,extra_obs,special,type,lat,lon,vmax,mslp,wmo_basin,storm_name,year,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths,name
0,1980-07-31 12:00:00,0,,DB,11.0,-30.0,25,NaN,north_atlantic,Allen,1980,Hurricane Allen (August 1980),Tropical Cyclone,1980-08-07,1980-08-11,2165.4,13,Allen
1,1980-07-31 18:00:00,0,,DB,10.9,-32.2,25,NaN,north_atlantic,Allen,1980,Hurricane Allen (August 1980),Tropical Cyclone,1980-08-07,1980-08-11,2165.4,13,Allen
2,1980-08-01 00:00:00,0,,TD,10.8,-34.3,30,1010.0,north_atlantic,Allen,1980,Hurricane Allen (August 1980),Tropical Cyclone,1980-08-07,1980-08-11,2165.4,13,Allen
3,1980-08-01 06:00:00,0,,TD,10.7,-36.4,30,1009.0,north_atlantic,Allen,1980,Hurricane Allen (August 1980),Tropical Cyclone,1980-08-07,1980-08-11,2165.4,13,Allen
4,1980-08-01 12:00:00,0,,TD,10.7,-38.6,30,1008.0,north_atlantic,Allen,1980,Hurricane Allen (August 1980),Tropical Cyclone,1980-08-07,1980-08-11,2165.4,13,Allen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2730,2022-11-10 19:00:00,1,L,TS,29.2,-83.0,40,989.0,north_atlantic,Nicole,2022,Hurricane Nicole (November 2022),Tropical Cyclone,2022-11-10,2022-11-11,1050.6,5,Nicole
2731,2022-11-11 00:00:00,0,L,TS,30.1,-84.0,35,992.0,north_atlantic,Nicole,2022,Hurricane Nicole (November 2022),Tropical Cyclone,2022-11-10,2022-11-11,1050.6,5,Nicole
2732,2022-11-11 06:00:00,0,,TD,31.2,-84.6,30,996.0,north_atlantic,Nicole,2022,Hurricane Nicole (November 2022),Tropical Cyclone,2022-11-10,2022-11-11,1050.6,5,Nicole
2733,2022-11-11 12:00:00,0,,TD,33.2,-84.6,25,999.0,north_atlantic,Nicole,2022,Hurricane Nicole (November 2022),Tropical Cyclone,2022-11-10,2022-11-11,1050.6,5,Nicole
2734,2022-11-11 18:00:00,0,,LO,35.4,-83.8,25,1000.0,north_atlantic,Nicole,2022,Hurricane Nicole (November 2022),Tropical Cyclone,2022-11-10,2022-11-11,1050.6,5,Nicole

In [52]:
merged_df.shape

(2735, 18)

In [69]:
# Convert the 'time', 'Begin Date', and 'End Date' columns to datetime format
merged_df['time'] = pd.to_datetime(merged_df['time'])
merged_df['Begin Date'] = pd.to_datetime(merged_df['Begin Date'])
merged_df['End Date'] = pd.to_datetime(merged_df['End Date'])

# Filter the DataFrame so dates are on or between Begin and End dates
filtered_df = merged_df[(merged_df['time'] >= merged_df['Begin Date']) & (merged_df['time'] <= merged_df['End Date'])]

filtered_df.shape

(873, 18)

In [70]:
filtered_df.drop(['extra_obs','special','name','Disaster','Name','wmo_basin'],axis=1,inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_28980\2896186994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(['extra_obs','special','name','Disaster','Name','wmo_basin'],axis=1,inplace=True)

In [75]:
filtered_df

,time,type,lat,lon,vmax,mslp,storm_name,year,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths
26,1980-08-07 00:00:00,HU,20.1,-81.9,135,945.0,Allen,1980,1980-08-07,1980-08-11,2165.4,13
27,1980-08-07 06:00:00,HU,20.4,-83.6,145,935.0,Allen,1980,1980-08-07,1980-08-11,2165.4,13
28,1980-08-07 12:00:00,HU,21.0,-84.8,155,910.0,Allen,1980,1980-08-07,1980-08-11,2165.4,13
29,1980-08-07 18:00:00,HU,21.8,-86.4,165,899.0,Allen,1980,1980-08-07,1980-08-11,2165.4,13
30,1980-08-08 00:00:00,HU,22.2,-87.9,155,920.0,Allen,1980,1980-08-07,1980-08-11,2165.4,13
...,...,...,...,...,...,...,...,...,...,...,...,...
2727,2022-11-10 07:45:00,HU,27.6,-80.3,65,980.0,Nicole,2022,2022-11-10,2022-11-11,1050.6,5
2728,2022-11-10 12:00:00,TS,28.0,-81.6,55,984.0,Nicole,2022,2022-11-10,2022-11-11,1050.6,5
2729,2022-11-10 18:00:00,TS,29.0,-82.8,40,989.0,Nicole,2022,2022-11-10,2022-11-11,1050.6,5
2730,2022-11-10 19:00:00,TS,29.2,-83.0,40,989.0,Nicole,2022,2022-11-10,2022-11-11,1050.6,5
2731,2022-11-11 00:00:00,TS,30.1,-84.0,35,992.0,Nicole,2022,2022-11-10,2022-11-11,1050.6,5

In [74]:
# get_season function
def get_season(date):
    """Determine the season based on month for Northern Hemisphere"""
    if date.month in [12, 1, 2]:
        return "Winter"
    elif date.month in [3, 4, 5]:
        return "Spring"
    elif date.month in [6, 7, 8]:
        return "Summer"
    else:  # [9, 10, 11]
        return "Fall"

In [76]:
# Create season column based on time
filtered_df['season'] = filtered_df['time'].apply(get_season)

C:\Users\PC\AppData\Local\Temp\ipykernel_28980\2247008723.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['season'] = filtered_df['time'].apply(get_season)

In [77]:
filtered_df

,time,type,lat,lon,vmax,mslp,storm_name,year,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths,season
26,1980-08-07 00:00:00,HU,20.1,-81.9,135,945.0,Allen,1980,1980-08-07,1980-08-11,2165.4,13,Summer
27,1980-08-07 06:00:00,HU,20.4,-83.6,145,935.0,Allen,1980,1980-08-07,1980-08-11,2165.4,13,Summer
28,1980-08-07 12:00:00,HU,21.0,-84.8,155,910.0,Allen,1980,1980-08-07,1980-08-11,2165.4,13,Summer
29,1980-08-07 18:00:00,HU,21.8,-86.4,165,899.0,Allen,1980,1980-08-07,1980-08-11,2165.4,13,Summer
30,1980-08-08 00:00:00,HU,22.2,-87.9,155,920.0,Allen,1980,1980-08-07,1980-08-11,2165.4,13,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2727,2022-11-10 07:45:00,HU,27.6,-80.3,65,980.0,Nicole,2022,2022-11-10,2022-11-11,1050.6,5,Fall
2728,2022-11-10 12:00:00,TS,28.0,-81.6,55,984.0,Nicole,2022,2022-11-10,2022-11-11,1050.6,5,Fall
2729,2022-11-10 18:00:00,TS,29.0,-82.8,40,989.0,Nicole,2022,2022-11-10,2022-11-11,1050.6,5,Fall
2730,2022-11-10 19:00:00,TS,29.2,-83.0,40,989.0,Nicole,2022,2022-11-10,2022-11-11,1050.6,5,Fall
2731,2022-11-11 00:00:00,TS,30.1,-84.0,35,992.0,Nicole,2022,2022-11-10,2022-11-11,1050.6,5,Fall

In [82]:
arranged_df = filtered_df[['storm_name','year','Begin Date','End Date','time','season','type','lat','lon','vmax','mslp','Total CPI-Adjusted Cost (Millions of Dollars)','Deaths']]
arranged_df

,storm_name,year,Begin Date,End Date,time,season,type,lat,lon,vmax,mslp,Total CPI-Adjusted Cost (Millions of Dollars),Deaths
26,Allen,1980,1980-08-07,1980-08-11,1980-08-07 00:00:00,Summer,HU,20.1,-81.9,135,945.0,2165.4,13
27,Allen,1980,1980-08-07,1980-08-11,1980-08-07 06:00:00,Summer,HU,20.4,-83.6,145,935.0,2165.4,13
28,Allen,1980,1980-08-07,1980-08-11,1980-08-07 12:00:00,Summer,HU,21.0,-84.8,155,910.0,2165.4,13
29,Allen,1980,1980-08-07,1980-08-11,1980-08-07 18:00:00,Summer,HU,21.8,-86.4,165,899.0,2165.4,13
30,Allen,1980,1980-08-07,1980-08-11,1980-08-08 00:00:00,Summer,HU,22.2,-87.9,155,920.0,2165.4,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2727,Nicole,2022,2022-11-10,2022-11-11,2022-11-10 07:45:00,Fall,HU,27.6,-80.3,65,980.0,1050.6,5
2728,Nicole,2022,2022-11-10,2022-11-11,2022-11-10 12:00:00,Fall,TS,28.0,-81.6,55,984.0,1050.6,5
2729,Nicole,2022,2022-11-10,2022-11-11,2022-11-10 18:00:00,Fall,TS,29.0,-82.8,40,989.0,1050.6,5
2730,Nicole,2022,2022-11-10,2022-11-11,2022-11-10 19:00:00,Fall,TS,29.2,-83.0,40,989.0,1050.6,5
2731,Nicole,2022,2022-11-10,2022-11-11,2022-11-11 00:00:00,Fall,TS,30.1,-84.0,35,992.0,1050.6,5

In [84]:
arranged_df.shape

(873, 13)